<!-- <input id="file_upload" type="file" accept="image/*" (change)="onChange($event)">

<ul>
    <li *ngFor="let file of files; index as i;">
        <img [src]=preview alt="{{ file.name }}"> {{ file.name }} <br> {{ math.trunc(file.size / 1024) }} KB <br> {{ file.type }} <br> {{ file.lastModified | date:'short' }}
    </li>
</ul> -->
<app-file-upload (newFileEvent)="AddFile($event)" (newFilePreviewEvent)="AddFilePreview($event)"></app-file-upload>
<app-datagrid [files]="files" [filePreviews]="filePreviews"></app-datagrid>